xml-resources/web-service-references/ConversionUnidades/wsdl/localhost_8080/ConversionUnidades/ConversionUnidades.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Webservices/">

<xs:element name="centimetrosAPulgadas" type="tns:centimetrosAPulgadas"/>

<xs:element name="centimetrosAPulgadasResponse" type="tns:centimetrosAPulgadasResponse"/>

<xs:element name="pulgadasACentimetros" type="tns:pulgadasACentimetros"/>

<xs:element name="pulgadasACentimetrosResponse" type="tns:pulgadasACentimetrosResponse"/>

<xs:complexType name="pulgadasACentimetros">
<xs:sequence>
<xs:element name="pulgadas" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pulgadasACentimetrosResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centimetrosAPulgadas">
<xs:sequence>
<xs:element name="centimetros" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centimetrosAPulgadasResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>